CONFIG_RISCV=y
CONFIG_SYS_TEXT_BASE=0x08000000
CONFIG_TARGET_HIFIVE_U540=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_FIT=y
CONFIG_BOOTDELAY=3
CONFIG_MISC_INIT_R=y
CONFIG_SYS_PROMPT="RISC-V # "
CONFIG_CMD_MMC=y
CONFIG_CMD_MMC_SPI=y
CONFIG_CMD_DHCP=y
CONFIG_OF_CONTROL=y
CONFIG_DEFAULT_DEVICE_TREE="hifive_u540"
CONFIG_DM=y
CONFIG_MISC=y
CONFIG_HIFIVE_OTP=y
CONFIG_MMC=y
CONFIG_PHYLIB=y
CONFIG_PHY_MSCC=y
CONFIG_HIFIVE_SERIAL=y
